.button {
  font-size: 15px;
  font-family: "poppins";
  color: var(--primary-light);
  border: none;
  background: var(--secondary-light);
  font-weight: 600;
  width: 8rem;
  height: 2.5rem;
  margin: 0.3rem;
  color: var(--secondary);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.button:active {
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.24);
  transform: translateY(4px);
}

.hidden {
  display: none;
}
