.button {
  font-size: 15px;
  font-family: "poppins";
  color: var(--primary-light);
  border: none;
  background: var(--secondary-light);
  font-weight: 600;
  width: 140px;
  height: 40px;
  margin: 5px;
  color: var(--secondary);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.button:active {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.24);
  transform: translateY(4px);
}
