.card {
  text-align: center;
  margin: 25px;
  width: 90%;
  padding: 15px;
  border-radius: 20px;
  background-color: var(--secondary);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  position: relative;
}
.card__bookmark {
  position: absolute;
  right: -2px;
  top: -20px;
  filter: invert(99%) sepia(0%) saturate(165%) hue-rotate(53deg)  brightness(70%) contrast(87%);
  -webkit-filter: invert(99%) sepia(0%) saturate(165%) hue-rotate(53deg)  brightness(70%) contrast(87%);
}

.card__bookmark:hover {
  transform: translateY(4px);
  filter: invert(64%) sepia(99%) saturate(3847%) hue-rotate(351deg)
    brightness(99%) contrast(100%);
}

.card__question {
  margin: 10px;
}


