textarea {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  width: 90%;
  height: 100px;
  padding: 12px;
  font-size: 15px;
  font-family: "poppins";
  border-color:var(--primary-light);
  margin: 20px;
  margin-top: 10px;
  border-width: 2px;

}


.main__question.main__tags{
    font-size: 1.5rem ;
}

.section__text{
  display: flex;
  flex-direction: column;
  align-items: center;
flex-grow: 1;
  margin: 1rem;
    padding: 1.5rem;
    border-radius: 20px;
    
    
    background-color: var(--secondary);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-light);
}
.main__question .main__answer {
  color: var(--primary);
  
}

.main__tags__textarea{
height: 20px;
}