.main__profile {
    margin: 0rem 1rem 1rem 1rem;
    padding: 1rem;
    border-radius: 20px;
    text-align: center;
    background-color: var(--secondary);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    width: 85%;
}
.main__aboutme__img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  
}

.main__aboutme__title {
  color: var(--primary-light);
  margin:0.5rem;
  margin-top: 1rem;
}
.main__aboutme__text {
    margin: 0.5rem;
  color: var(--primary-light);
}

.main__skills__title{
  margin: 0.5rem;
  margin-top: 2rem;
    color: var(--primary-light);
    
}